@use '../../styles/mixins';

@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

.main{
    width: 80%;
    min-height: 300px;
    max-height: 1000px;
    // border: 2px solid black;
    // border-radius: 30px;
    background-color: EAE9EB;
    margin-top: 100px;
    height: auto;
    @include mixins.flexing(column, space-around, center);
    &__top{
        @include mixins.flexing(column, center, start);
        margin-left: 120px;
        height: 33vh;
        width: 100%;
        // background-color: red;
        
        &__subtext{
            // background-color: red;
            @include mixins.flexing(row, center, center);
            width: 35%;
            text-align: start;
            padding: 0px;
            margin: 0px;
        }
        span{
            padding-right: 5px;
            margin-top: 10px;
            height: 18px;
        }
        h1{
            padding: 0px;
            margin: 0px;
            padding-bottom: 30px;
        }

    }
    &__middle{
        @include mixins.flexing(column, center, center);
        height: 40vh;
        width: 100%;
        // background-color: red;
        &__frame{
            @include mixins.flexing(column, center, center);
            height: 40vh;
            width: 400px;
            border-radius: 5px;
            box-shadow: 5px 5px 1px 1px rgba($color: lightgray, $alpha: 0.8);
            img{
                height: 100%;
                border-radius: 5px;
            }
        }
      

    }
    &__bottom{
        height: 20vh;
        width: 100%;
        @include mixins.flexing(column, center, end);
        h4{
            margin-right: 120px;
        }
    }

}

.sub{
    @include mixins.flexing(row,center,center);
    width: 200px;
    a{
        margin-left: 10px;
        margin-right: 10px;
        img{
            height: 30px;
        }
        scale: 1;
        transition: 0.2s;
        &:hover{
            scale: 1.2;
            transition: 0.2s;
        }
    }
    // width: auto;
    // border-right: 2px solid black;
    // padding-right: 5px;
    // animation: blink-caret 1s step-end infinite;
}